<style>
  /* Additional CSS for styling purposes */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }

  #download-button {
    margin-left: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #download-button:hover {
    background-color: #2980b9;
  }

  #logo {
    max-width: 150px; /* Adjust the width as needed */
    height: auto;
  }

  $additional_styles
</style>
